* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('/views/style/image/cover-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: sans-serif;
  }
  
  .login-form {
    background-color: rgb(11 11 11 / 83%);
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 88%) 0px 2px 15px -3px, rgb(0 0 0) 0px 10px 20px -2px;
  }
  
  h2 {
    color: white;
  }
  
  .form-control {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.105) !important;
    color: #f0f8ff9f !important;
  }
  
  @media (min-width: 576px) {
    .login-form {
      width: 300px;
      height: 495px;
    }
    .form-control {
      width: 225px !important;
    }
  }
  
  @media (min-width: 768px) {
    .login-form {
      width: 350px;
      height: 500px;
    }
    .form-control {
      width: 270px !important;
    }
  }
  
  @media (min-width: 992px) {
    .login-form {
      width: 396px;
      height: 580px;
    }
    .form-control {
      width: 310px !important;
    }
  }
