<%-include('header')-%>

<div class="text-center center-div mt-5 " id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>dashboard</h3>
        <h2><%= locals.user ? user :'Login System' %></h2>
        <a href="/route/logout">Logout</a>
    </div>

</div>


<%-include('footer')-%>