.section-1{
    max-width: 500px;
    height: 500px;
    background-color: cyan;
}

/* @media screen and (max-width:400px){
    .section-1{
        background-color: black;
    }
}
@media all and (max-width:400px){
    .section-1{
        background-color: black;
    }
} */
/* @media  (max-width:400px){
    .section-1{
        background-color: black;
    }
} */
/* @media  (orientation:landscape){
    .section-1{
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    span{
        display: none;
    }
}
@media  (orientation:landscape){
    .section-1{
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    span{
        display: none;
    }
} */
@media  (max-width:400px){
    .section-1{
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    span{
        display: none;
    }
}